/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Common */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #4a4a4a;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    height: 50px;
    color: #ffffff;
}

.check img, .rec img {
    height: 15px;
}

.view i {
    vertical-align: bottom;
}

.check, .rec {
    background-color: #101010;
    display: inline-block;
}

.rec {
    padding: 5px 10px;
    border-radius: 3px;
}

.check {
    padding: 3px;
    width: 21px;
    height: 21px;
    border-radius: 5px;
}

.rec img {
    margin-right: 3px;
}

.view { 
    background-color: #222222;
    padding: 10px;
    border-radius: 5px;
}

/* Main */
main {
    display: flex;
    height: calc(100vh - 100px);
}
.col-left {
    width: 10%;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.col-right{
    width: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
}

.arrow-right, .arrow-left {
    background-color: black;
    padding: 5px 20px;
}

.pages {
    color: gray;
    text-align: center;
}

.arrow-left i, .arrow-right i {
    color: #2db7ff;
}

.col-center {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.col-img {
    width: calc(20% - 10px);
    height: calc(20% - 10px);
    border-radius: 5px;
    overflow: hidden;
    margin: 3px;
}

.col-img img{
    width: 100%;
}