/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Common */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #4a4a4a;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    height: 50px;
    color: #ffffff;
}

.check img, .rec img {
    height: 15px;
}

.view i {
    vertical-align: bottom;
}

.check, .rec {
    background-color: #101010;
    display: inline-block;
}

.rec {
    padding: 5px 10px;
    border-radius: 3px;
}

.check {
    padding: 3px;
    width: 21px;
    height: 21px;
    border-radius: 5px;
}

.rec img {
    margin-right: 3px;
}

.view { 
    background-color: #222222;
    padding: 10px;
    border-radius: 5px;
}

/* Main */
main {
    display: flex;
    height: calc(100vh - 100px);
}
.col-left {
    width: 10%;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.col-right{
    width: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
}

.arrow-right, .arrow-left {
    background-color: black;
    padding: 5px 20px;
}

.pages {
    color: gray;
    text-align: center;
}

.arrow-left i, .arrow-right i {
    color: #2db7ff;
}

.col-center {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.col-img {
    position: relative;
    width: calc(20% - 10px);
    height: calc(20% - 10px);
    border-radius: 5px;
    overflow: hidden;
    margin: 3px;
}

.col-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.col-img i{
    color: red;
}

.name {
    position: absolute;
    bottom: 0px;
    left: 5px;
    color: white;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 10px;
    background-color: #212325;
    color: #aaabac;
}

.relative {
    position: relative;
}

i.chevron::after{
    content: '\f077';
    display: block;
    position: absolute;
    right: -5px;
    top: 0px;
}

.footer-center > div,
.footer-left > div,
.footer-right > div {
    display: inline-block;
    text-align: center;
    margin-right: 10px;
}

.green {
    color: green;
}

.btn {
    text-decoration: none;
    color: white;
    background-color: red;
    padding: 5px 20px 10px 20px;
    border-radius: 10px;
}